<div class="container">
  <div class="about-section">
    <h1>About Me</h1>
    <p>I am proficient in DATA STRUCTURE AND ALGORITHM in Java/C++ and I am also a MACHINE LEARNING Enthusiast . I have Leadership , Management and Communication Skills . I am a Quick Learner . I love to explore many things as much as possible in the field of Technology. I am interested in technology since childhood. I can tackle the problem in an optimized Manner</p>
  </div>
  <div>
    <h2 style="text-align:center; margin: 10px auto;">Education</h2>
  </div>
  
  <div>
    <div class="row">
      <div class="column">
        <div class="card">
          <a href="https://davschoolpemn.org/"><img src="assets/images/school.jpg" alt="school" style="width:100%"></a>
          <div class="container">
            <h2>DAV Centenary Public School</h2>
            <p class="title">2007-2019</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <a href="http://nsut.ac.in/en/home"><img src="assets/images/college.jpg" alt="Undergraduation" style="width: 100%; height:320px"></a>
          <div class="container">
            <h2>Netaji Subhas University Of Technology</h2>
            <h5>Bachelors of Technology - Electrical Engineering</h5>
            <p class="title">2019-2023</p>
          </div>
        </div>
      </div>
  </div>
</div>