<div class = "container">
    <h1 style="font-style:normal; text-align: center; margin: 20px 0px;">Experiances</h1>
        <div class = "row">
            <div class = "column">
                <a href="https://www.linkedin.com/company/iosdorg/?originalSubdomain=in"><img src="assets/images/iosd.jpg" alt="IOSD" width="240px" height="200px"></a>
            </div>
            <div class = "column">
                <h2 style="width: 60px 0px;">International Organisation Of Software Developers</h2>
                <div class="card">
                    <h4>Data Science Intern (May,2022 - July,2022)</h4>
                </div>
                <div class="card">
                    <p>Responsible for analysing DataSets and identificaion of sensitive data.</p>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "column">
                <a href="https://www.codechef.com/"><img src="assets/images/codechef.jpg" alt="CodeChef" width="250px"></a>
            </div>
            <div class = "column">
                <h2 style="width: 60px 0px;">CodeChef</h2>
                <div class="card">
                    <h4>Doubt Solver (July,2022 - September,2022)</h4>
                </div>
                <div class="card">
                    <p>Working as a Doubt Solver for 1000-1400 rated problems in CodeChef.</p>
                </div>
            </div>
        </div>
    
</div>


