<div class="container">
    <div>
      <div class="row">
        <div class="column">
          <div class="card">
            <a href="https://drive.google.com/file/d/1OXjhdAuRNhFL3O8RD8leuj15uUvmHi70/view"><img src="assets/images/code_war.jpg" style="width:100%"></a>
            <div class="container">
              <h2>CODE WARS 2021</h2>
              <p>Finalist</p>
              <p class="title">April 2021</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <a href="https://drive.google.com/file/d/1zGk58gWhQaJUyVqWZRtEf5VMpfrGpYIM/view"><img src="assets/images/iosd.jpg" style="width: 100%; height:205px"></a>
            <div class="container">
              <h2>CODE SPREE 2021</h2>
              <p>2nd Runners-up</p>
              <p class="title">April 2021</p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <a href="https://drive.google.com/file/d/1hhkbtGL7fDx3mtynmCWZdSUhywkipMLL/view"><img src="assets/images/code_glad.jpg" style="width: 100%; height:180px"></a>
              <div class="container">
                <h2>CODE GLADIATORS 2021</h2>
                <p>Finalists</p>
                <p class="title">July 2021</p>
              </div>
            </div>
          </div>
    </div>
  </div>
