<div class="container">
    <div class="hero-section">
        <img src="assets/images/Rakshit Photo.jpg" width="400" height="300">
    </div>
    <div>
        <h2 style="text-align: center;">RAKSHIT JAIN</h2>
        <h4 style="text-align: center;">Associate Data Science Engineer</h4>
        <a href="https://www.biz2credit.com/"><h4 style="text-align: center;">(Biz2Credit)</h4></a>
    </div>
    <div style="margin-bottom: 10px;">
        <h2>Contact Information</h2>
        <p>+91 9899484009</p>
        <p>rakshitjain578@gmail.com</p>
    </div>
    <div style="text-align: center;">
        <h2>Other Accounts</h2>
        <div>
            <a href="https://www.linkedin.com/in/rakshit-jain-a27035202/"><img src="assets/images/linkedin.jpg" width="100" height="100" ></a>
            <a href="https://github.com/Rakshit578"><img src="assets/images/github.jpg" width="100" height="100"></a>
        </div>
    </div>
</div>

